#
# For licensing see accompanying LICENSE file.
# Copyright (C) 2022 Apple Inc. All Rights Reserved.
#
# http://editorconfig.org

# top-most EditorConfig file
root = true

# Default Configuration for most files
[*]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8
end_of_line = lf
max_line_length = 100

[Makefile]
indent_style = tab
